@import url(../global.module.css);

.searchBar{
    outline: none;
    border: none;
    width: 25%;
    border-radius: 3px;
    color: var(--primary2-color);
    padding-left: 0.8rem;
    background: #F9F5E7;

}

.searchBar::placeholder{
    color: #8a4b58;
    opacity: 0.5;

}